<configuration> 
	<system.webServer> 
		<iisnode enableXFF="true" devErrorsEnabled="true" /> 
		<handlers> 
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" /> 
		</handlers> 
		<rewrite> 
			<rules> 
				<rule name="ides-api"> <match url="/*" /> <action type="Rewrite" url="app.js" /> 
				</rule>
                <rule name="redirect-ides-api" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule> 
			</rules> 
		</rewrite> 

	        <directoryBrowse enabled="true" />
        <modules>
            <remove name="iisnode" />
            <add name="iisnode" />
        </modules>
        <defaultDocument>
            <files>
                <add value="app.js" />
            </files>
        </defaultDocument> 
	</system.webServer> 
</configuration>
